@charset "utf-8";
/* CSS Document */

body{ margin:0 auto; font-family: Arial,"微软雅黑","Helvetica Neue", Helvetica, sans-serif; color:#444; background:white; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,button,textarea,select,p,span{ margin:0;padding:0;}
img{ border:0; vertical-align:top;}
ul,li,ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:14px; font-weight:normal;list-style:none;}
i{font-style: italic;}
a { text-decoration:none;-webkit-transition: all 0.2s;-moz-transition: all 0.2s; -ms-transition: all 0.2s; transition: all 0.2s;}
a:hover {text-decoration: none}
input{ border:0;}
input,button,textarea,select{ font-family: Arial,"微软雅黑","Helvetica Neue", Helvetica, sans-serif; color:#444;}
